{% extends "./_base.njk" %}

{% block innerBody %}
	<header class="flex-initial mx-6">
		<nav class="max-w-xl m-auto">
			<ul class="flex justify-center border-b border-gs4">
				<li class="hover:bg-gs2">
					<a class="block p-3" href="/">Home</a>
				</li>
				<li class="hover:bg-gs2">
					<a class="block p-3" href="/about/">About</a>
				</li>
				<li class="hover:bg-gs2">
					<a class="block p-3" href="/blog/">Blog</a>
				</li>
			</ul>
		</nav>
	</header>
	<main class="font-sans flex-auto p-6">
		<div class="max-w-xl mx-auto leading-relaxed">
			{% block main %}{% endblock %}
		</div>
	</main>
	<footer class="flex-initial mx-6">
		<div class="max-w-xl m-auto border-t border-gs4 flex justify-center">
			<a class="m-2 rounded-full hover:bg-gs2" href="mailto:nolan@nolanwright.dev">
				<svg class="feather h-4 w-4 m-2">
					<use xlink:href="/icons.svg#mail" />
				</svg>
			</a>

			<a class="m-2 rounded-full hover:bg-gs2" href="xmpp:nwdev@jabber.fr">
				<svg class="feather h-4 w-4 m-2">
					<use xlink:href="/icons.svg#message-circle" />
				</svg>
			</a>
			<a class="m-2 rounded-full hover:bg-gs2" href="https://github.com/nolanwrightdev">
				<svg class="feather h-4 w-4 m-2">
					<use xlink:href="/icons.svg#github" />
				</svg>
			</a>
			<a class="m-2 rounded-full hover:bg-gs2" href="https://gitlab.com/nolanwrightdev">
				<svg class="feather h-4 w-4 m-2">
					<use xlink:href="/icons.svg#gitlab" />
				</svg>
			</a>
		</div>
	</footer>
{% endblock %}
