extends /layouts/with-article

block vars
	- let title = 'Title of Article'
	- let description = 'A repitition of lorem ipsum'

block article
	article
		h1
			p Title of Article
			time(datetime='2019-12-19') 2019-12-19
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			| aliquip ex ea commodo consequat. Duis aute irure dolor in
			| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			| pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			| culpa qui officia deserunt mollit anim id est laborum.
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			| aliquip ex ea commodo consequat. Duis aute irure dolor in
			| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			| pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			| culpa qui officia deserunt mollit anim id est laborum.
		a(name='1' href='#1'): h2 Section 1
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			| aliquip ex ea commodo consequat. Duis aute irure dolor in
			| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			| pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			| culpa qui officia deserunt mollit anim id est laborum.
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			| aliquip ex ea commodo consequat. Duis aute irure dolor in
			| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			| pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			| culpa qui officia deserunt mollit anim id est laborum.
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			| aliquip ex ea commodo consequat. Duis aute irure dolor in
			| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			| pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			| culpa qui officia deserunt mollit anim id est laborum.
		a(name='2' href='#2'): h2 Section 2
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			| aliquip ex ea commodo consequat. Duis aute irure dolor in
			| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			| pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			| culpa qui officia deserunt mollit anim id est laborum.
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			| aliquip ex ea commodo consequat. Duis aute irure dolor in
			| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			| pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			| culpa qui officia deserunt mollit anim id est laborum.
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			| aliquip ex ea commodo consequat. Duis aute irure dolor in
			| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			| pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			| culpa qui officia deserunt mollit anim id est laborum.
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			| aliquip ex ea commodo consequat. Duis aute irure dolor in
			| reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
			| pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
			| culpa qui officia deserunt mollit anim id est laborum.
