extends /layouts/with-sections

block vars
	- let title = 'Articles'
	- let description = 'An index of articles that I have written for my blog'

block main
	main
		h1.fs24.fw7.mb12 Articles
		ul#articles
			li
				a(href='an-example-blog-post')
					h2 An Example Blog Post
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						| eiusmod tempor incididunt
					time(datetime='2019-12-19') 2019-12-19
