{% extends "../layouts/_with-sections.njk" %}
{% set title = "Nolan Wright | Blog" %}
{% set description = "Blog articles I have put together" %}

{% block main %}
	<h1 class="leading-tight text-2xl mb-3">Blog</h1>
	<p>Sorry, I have not yet published any blog articles. Please check again soon!</p>
{% endblock %}
