extends /layouts/with-sections

block vars
	- let title = 'Blog | Nolan Wright'
	- let description = 'Blog articles I have put together'

block innerMain
	h1(class='lh20 fs24 mb12') Blog
	p Sorry, I have not yet published any blog articles. Please check again soon!
