extends with-head

block body
	body#sections
		header
			nav
				a(href='/')
					img(src='/logo.svg' alt='website logo')
		div#container
			div
				block main
		footer
			div
				a(href='mailto:nolan@nolanwright.dev') contact
				a(href='https://github.com/nolanwrightdev') github
				a(href='https://gitlab.com/nolanwrightdev') gitlab
			small © 2019 Nolan Wright. All rights reserved.
