{% extends "./layouts/_base.njk" %}
{% set title = "Nolan Wright | Home" %}
{% set description = "The home page for my personal website and blog" %}

{% block innerBody %}
	<header class="flex-initial bg-gs5 text-gs1">
		<nav class="max-w-xl mx-auto">
			<ul class="flex justify-center">
				<li class="border-b border-gs5 hover:border-gs1 transition-all">
					<a class="block p-3" href="/">Home</a>
				</li>
				<li class="border-b border-gs5 hover:border-gs1 transition-all">
					<a class="block p-3" href="/about/">About</a>
				</li>
				<li class="border-b border-gs5 hover:border-gs1 transition-all">
					<a class="block p-3" href="/blog/">Blog</a>
				</li>
			</ul>
		</nav>
	</header>
	<main class="flex-auto bg-gs5 text-gs1 flex justify-center items-center">
		<div class="max-w-xl">
			<h1 class="text-3xl text-center tracking-wider">Nolan Wright</h1>
			<div class="flex my-4">
				<hr class="flex-auto my-auto text-gs1">
				<p class="flex-initial mx-4 text-xl tracking-wider">dev</p>
				<hr class="flex-auto my-auto text-gs1">
			</div>
			<p class="text-xl text-center">My personal website and blog</p>
		</div>
	</main>
	<footer class="flex-1">
		<div class="max-w-xl mx-auto flex justify-center">
			<a class="m-3 rounded-full hover:bg-gs5 hover:text-gs1 transition-all" href="mailto:nolan@nolanwright.dev">
				<svg class="feather h-6 w-6 m-3">
					<use xlink:href="/icons.svg#mail" />
				</svg>
			</a>
			<a class="m-3 rounded-full hover:bg-gs5 hover:text-gs1 transition-all" href="xmpp:nwdev@jabber.fr">
				<svg class="feather h-6 w-6 m-3">
					<use xlink:href="/icons.svg#message-circle" />
				</svg>
			</a>
			<a class="m-3 rounded-full hover:bg-gs5 hover:text-gs1 transition-all" href="https://github.com/nolanwrightdev">
				<svg class="feather h-6 w-6 m-3">
					<use xlink:href="/icons.svg#github" />
				</svg>
			</a>
			<a class="m-3 rounded-full hover:bg-gs5 hover:text-gs1 transition-all" href="https://gitlab.com/nolanwrightdev">
				<svg class="feather h-6 w-6 m-3">
					<use xlink:href="/icons.svg#gitlab" />
				</svg>
			</a>
		</div>
	</footer>
{% endblock %}
