extends /layouts/with-sections

block vars
	- let title = 'Nolan Wright'
	- let description = 'My personal website and blog'

block main
	main
		h1.aib.df.fww.jcsb.lh20
			span.fs30.ls20 Nolan Wright
			span 〈 dev 〉
		hr.mb20
		h2.fs20.fw7.mb12 About me
		p.lh24.mb20
			| I am a passionate technologist who deeply enjoys learning and applying
			| best practices to solve interesting problems. My interests are
			| wide-ranging and span functional programming to systems programming to
			| web development and many other specializations within the vast field of
			| technology. Becoming the best developer and person possible is what
			| motivates me.
		h2.fs20.fw7.mb16 Recent articles
		ul#articles.mb16
			li
				a(href='blog/an-example-blog-post')
					h3 An Example Blog Post
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						| eiusmod tempor incididunt
					time(datetime='2019-12-19') 2019-12-19
		p.tar
			a(href='blog') More articles →
