extends /layouts/base

block vars
	- let title = 'My homepage'
	- let description = 'My website'

block body
	body(class='ffm')
		header(class='fi bgd cl')
			nav
				ul(class='df jcc')
					-
						let xs = [
							['/', 'Home'],
							['/about/', 'About'],
							['/blog/', 'Blog']]

					//- dereferencing should be coming soon (merged but not yet released)
					for x in xs
						li(class='homenav')
							a(href=x[0] class='db p12')= x[1]
		main(class='fa df aic jcc bgd cl')
			div
				h1(class='tac fs30 ls20') Nolan Wright
				div(class='df my16')
					hr(class='fa cl mya')
					p(class='fi mx16 fs20 ls20') dev
					hr(class='fa cl mya')
				p(class='fs20') My personal website and blog
		footer(class='f1 cd')
			div(class='df jcc')
				-
					let ys = [
						['mailto:nolanwright.dev', 'mail'],
						['xmpp:nwdev@jabber.fr', 'message-circle'],
						['https://github.com/nolanwrightdev', 'github'],
						['https://gitlab.com/nolanwrightdev', 'gitlab']]

				for y in ys
					a(href=y[0] class='homeanchor')
						svg(class='feather h24 w24 m12 db')
							!= `<use href="/sprite.svg#${y[1]}">`
