@tailwind base;

html {
	@apply bg-gs1;
}

::selection {
	@apply bg-black;
	@apply text-gs1;
}

.feather {
	@apply stroke-current;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

@tailwind components;
@tailwind utilities;

.transition-all {
	transition: all 250ms ease;
}
